# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env
env/

# Streamlit
.streamlit/

# Vector database
vectorstore/

# Uploaded files
data/uploaded_pdfs/
data/generated_papers/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db